$primary-color: #0958ee;
$secondary-color: #4fedeb;
$highlight-z-index: 15500;

@mixin smooth-transition($properties...) {
  transition: $properties 0.3s ease;
}

.mfe-highlighter-container {
  position: absolute;
  display: block;

  * {
    pointer-events: none !important;
  }
}

@mixin gradient-border {
  background: linear-gradient(to left top, var(--mfe-highlighter-secondary-color, $secondary-color), var(--mfe-highlighter-primary-color, $primary-color));
  border-radius: inherit;
  content: "";
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 2px;
  position: absolute;
  z-index: -1;
}

.mfe-highlighter {
  position: absolute;
  border: none;
  z-index: 999999999;
  box-sizing: border-box;
  padding: 4px;

  &::before {
    @include gradient-border;
  }
}

.mfe-highlighter-border {
  position: absolute;
}

.mfe-highlighter-bar {
  position: absolute;
  z-index: $highlight-z-index;
  left: 0;
  top: -34px;
  padding: 8px 0;

  .mfe-highlighter-bar-content {
    border-radius: 0.5em;
    display: flex;
    white-space: nowrap;
    width: fit-content;

    > a {
      background: var(--mfe-highlighter-bar-color, $secondary-color);
      color: var(--mfe-highlighter-font-color, $secondary-color);
      line-height: 1.5;
      margin-right: 0.125em;
      padding: 0 0.5em;
      transform: translateZ(0);
      @include smooth-transition(filter, background-color);

      &:first-child {
        border-bottom-left-radius: 0.5em;
        border-top-left-radius: 0.5em;
      }

      &:last-child {
        border-bottom-right-radius: 0.5em;
        border-top-right-radius: 0.5em;
        margin-right: 0;
      }
    }
  }
}
